<% content_for :title do %>
   Dashboard
 <% end %>
<%= render :partial => 'partials/header'%>
<!-- main menu-->
<%= render :partial => 'partials/sidebar'%>
<!-- / main menu-->
<div class="app-content content container-fluid">
   <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
         <!-- stats -->
         <div class="row">
            <div class="col-xl-3 col-lg-6 col-xs-12">
               <div class="card">
                  <div class="card-body">
                     <div class="card-block">
                        <div class="media">
                           <div class="media-body text-xs-left">
                              <h3 class="pink">278</h3>
                              <span>Total Invoice</span>
                           </div>
                           <div class="media-right media-middle">
                              <i class="icon-bag2 pink font-large-2 float-xs-right"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-xs-12">
               <div class="card">
                  <div class="card-body">
                     <div class="card-block">
                        <div class="media">
                           <div class="media-body text-xs-left">
                              <h3 class="teal"><%= Client.count %></h3>
                              <span>New Clients</span>
                           </div>
                           <div class="media-right media-middle">
                              <i class="icon-user1 teal font-large-2 float-xs-right"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--/ stats -->
      </div>
   </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->







