<!-- main menu-->
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
   <!-- main menu header-->

   <!-- / main menu header-->
   <!-- main menu content-->
   <div class="main-menu-content">
      <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
         <li class=" nav-item"><a href="/dashboard"><i class="icon-home3"></i><span data-i18n="nav.bootstrap_tables.table_basic" class="menu-title">Dashboard</span></a>
         </li>
         <li class=" nav-item"><a href="/clients"><i class="icon-home3"></i><span data-i18n="nav.bootstrap_tables.table_basic" class="menu-title">Clients</span></a>
         </li>
         <li class=" nav-item"><a href="table-basic.html"><i class="icon-home3"></i><span data-i18n="nav.bootstrap_tables.table_basic" class="menu-title">Invoices</span></a>
         </li>
      </ul>
   </div>
   <!-- /main menu content-->
   <!-- main menu footer-->
   <!-- include includes/menu-footer-->
   <!-- main menu footer-->
</div>
<!-- / main menu-->